.header__logo {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 70px;
  position: relative;
  width: 130px;
  z-index: 2;
  background-image: url("https://i.ibb.co/LD62n6R2/Chat-GPT-Image-18-2025-13-21-16-1.png");

}
@media (max-width: 1024px) {
  .header__logo {
    height: 100px;
    width: 70px;
  }
}