.header__logo {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 60px;
  position: relative;
  width: 150px;
  z-index: 2;
  background-image: url("https://i.ibb.co/PZYZvrWq/Chat-GPT-Image-18-2025-00-25-19.png");

}