.h-menu__link {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  position: relative;
}

.h-menu__link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 1px;
  background: linear-gradient(to right, #020f0b 0%, #000000e8 100%);
  transition: width 0.4s ease;
}

.h-menu__link:hover::after {
  width: 100%;
}
