.footer {
  background: rgb(245, 245, 245);
  padding-top: 55px;
  padding-bottom: 55px;
  border-radius: 20px;
  margin-top: 120px;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
